<!-- header start -->
<header class="sticky-top bg-white z-3">
    <div class="header-bottom wrapper-padding-2 res-header-sm" style="height: 130px">
        <div class="container-fluid">
            <div class="header-bottom-wrapper">
                <div class="logo-2 py-4 d-flex justify-content-center align-items-center">
                    <a href="/" class="navbar-brand">
                        <span class="font-weight-bold text-uppercase text-dark display-7">Craftopia</span>
                    </a>
                </div>

                <div class="menu-style-2 handicraft-menu menu-hover">
                    <nav>
                        <ul>
                            <li>
                                <a class="text-bg-dark-light" href="/">home</a>
                            </li>
                            <li>
                                <a href="/shop">categories</a>
                                <ul class="single-dropdown">
                                    <% categories.forEach(category => { %>
                                    <li><a href="/shop?category=<%= category._id %>"><%= category.title %></a></li>
                                    <% }) %>
                                </ul>
                            </li>
                            <li>
                                <a href="/shop">shop</a>
                            </li>
                            <li><a href="/contact">contact</a></li>
                            <li><a href="/about">about</a></li>
                            <li>
                                <% if (user) { %>
                                <a href="/user/profile"><%= user?.firstName %></a>
                                <ul class="single-dropdown">
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/user/profile">Profile</a></li>
                                    <li><a href="/orders">Orders</a></li>
                                    <li><a href="/user/address">Address</a></li>
                                    <li><a href="/auth/logout">Logout</a></li>
                                </ul>
                                <% } else { %>
                                <a href="/auth/login">Account</a>
                                <ul class="single-dropdown">
                                    <li><a href="/auth/login">Login</a></li>
                                    <li><a href="/auth/register">Register</a></li>
                                </ul>
                                <% } %>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="handicraft-search-cart">
                    <% if (user) { %>
                    <div class="header-cart-4">
                        <a class="icon-cart" href="/cart">
                            <i class="pe-7s-shopbag"></i>
                            <span id="cartCount" class="handicraft-count"><%= cartCount %></span>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="mobile-menu-area handicraft-menu d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li>
                                    <a href="/">HOME</a>
                                </li>
                                <li>
                                    <a href="/shop">categories</a>
                                    <ul>
                                        <% categories.forEach(category => { %>
                                        <li><a href="/shop?category=<%= category._id %>"><%= category.title %></a></li>
                                        <% }) %>
                                    </ul>
                                </li>

                                <li>
                                    <a href="/shop">shop</a>
                                </li>
                                <li><a href="/contact"> Contact </a></li>
                                <li>
                                    <% if (user) { %>
                                    <a href="/user/profile"><%= user?.firstName %></a>
                                    <ul>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/user/profile">Profile</a></li>
                                        <li><a href="/orders">Orders</a></li>
                                        <li><a href="/user/address">Address</a></li>
                                        <li><a href="/auth/logout">Logout</a></li>
                                    </ul>
                                    <% } else { %>
                                    <a href="/auth/login">Account</a>
                                    <ul>
                                        <li><a href="/auth/login">Login</a></li>
                                        <li><a href="/auth/register">Register</a></li>
                                    </ul>
                                    <% } %>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
