<div class="product-details ptb-100 pb-90">
    <div class="container">
        <%- include('../../partials/flash-message.ejs') %>
        <div class="row">
            <div class="col-md-12 col-lg-7 col-12">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-35 product-details-tab2">
                        <div class="product-details-small nav mr-10 product-details-2" role="tablist">
                            <a
                                class="active mb-10"
                                href="#pro-details1"
                                data-bs-toggle="tab"
                                role="tab"
                                aria-selected="true"
                            >
                                <img src="<%= product?.images[0]?.thumbnailUrl %>" alt="" />
                            </a>
                            <a class="mb-10" href="#pro-details2" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="<%= product?.images[1]?.thumbnailUrl %>" alt="" />
                            </a>
                            <a class="mb-10" href="#pro-details3" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="<%= product?.images[2]?.thumbnailUrl %>" alt="" />
                            </a>
                            <a class="mb-10" href="#pro-details4" data-bs-toggle="tab" role="tab" aria-selected="true">
                                <img src="<%= product?.images[3]?.thumbnailUrl %>" alt="" />
                            </a>
                        </div>
                        <div class="product-details-large tab-content">
                            <div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay is-ready">
                                    <a href="<%= product?.images[0]?.productImageUrl %>">
                                        <img
                                            src="<%= product?.images[0]?.productImageUrl %>"
                                            class="img-fluid border border-dark"
                                            alt=""
                                        />
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details2" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay is-ready">
                                    <a href="<%= product?.images[1]?.productImageUrl %>">
                                        <img
                                            src="<%= product?.images[1]?.productImageUrl %>"
                                            class="img-fluid border border-dark"
                                            alt=""
                                        />
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay is-ready">
                                    <a href="<%= product?.images[2]?.productImageUrl %>">
                                        <img
                                            src="<%= product?.images[2]?.productImageUrl %>"
                                            class="img-fluid border border-dark"
                                            alt=""
                                        />
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-details4" role="tabpanel">
                                <div class="easyzoom easyzoom--overlay is-ready">
                                    <a href="<%= product?.images[3]?.productImageUrl %>">
                                        <img
                                            src="<%= product?.images[3]?.productImageUrl %>"
                                            class="img-fluid border border-dark"
                                            alt=""
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content">
                    <h3><%= product.title %></h3>
                    <div class="rating-number">
                        <div class="quick-view-rating">
                            <div class="quick-view-rating">
                                <% for (let filledStars = 0; filledStars < avgRating; filledStars++) { %>
                                <i class="pe-7s-star text-warning"></i>
                                <% } %> <% for (let emptyStars = 0; emptyStars < 5 - avgRating; emptyStars++) { %>
                                <i class="pe-7s-star"></i>
                                <% } %>
                            </div>
                        </div>
                        <div class="quick-view-number">
                            <span><%= reviews.length %> Ratting (S)</span>
                        </div>
                    </div>
                    <div class="details-price">
                        <span>₹ <%= product.salePrice %></span>
                        <!-- <span>₹ <%= product.productPrice %> </span> -->
                    </div>
                    <% if (product.quantity === 0) { %>
                    <smal class="text-danger h3">Out Of Stock!😓</smal>
                    <% } else if (product.quantity < 5) { %>
                    <smal class="text-warning h3">Hurry, Only <%= product.quantity %> more left!</smal>
                    <% } else { %>
                    <smal class="text-success h3">In Stock</smal>
                    <% } %>
                    <div class="product-details-delivery-tag mt-35">
                        <i class="ti ti-truck"></i> <span> FREE RETURNS + FREE SHIPPING</span>
                    </div>
                    <div class="product-details-color-tag mt-2">
                        <i class="ti ti-paint-bucket"></i> <span> Color: <%= product.color ?? "N/A" %></span>
                    </div>
                    <div class="product-details-material-tag mt-2">
                        <i class="ti ti-shopping-cart-full"></i> <span> Material: <%= product.material ?? "N/A" %></span>
                    </div>
                    <div class="product-details-art-tag mt-2">
                        <i class="ti ti-palette"></i> <span> Art Form: <%= product.artForm ?? "N/A" %></span>
                    </div>
                    <div class="product-details-origin-tag mt-2">
                        <i class="ti ti-check-box"></i> <span> Made in India</span>
                    </div>
                    <div class="product-share mt-5">
                        <ul>
                            <li class="categories-title">Share :</li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-flikr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="quickview-plus-minus">
                        <div class="quickview-btn-cart">
                            <% if (product.quantity === 0) { %>
                            <a class="btn btn-secondary h-auto" onclick="alert('You will be notfied!')">notify me</a>
                            <% } else { %>
                            <a class="btn-hover-black" href="/cart/add/<%= product._id %>">add to cart</a>
                            <% } %>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <% if (user?.wishlist?.includes(product._id)) { %>
                            <a class="btn-hover" href="/wishlist/remove/<%= product._id %>">
                                <i class="pe-7s-like text-danger"></i>
                            </a>
                            <% } else { %>
                            <a class="btn-hover" href="/wishlist/add/<%= product._id %>">
                                <i class="pe-7s-like"></i>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-description-review-area pb-90">
    <div class="container">
        <div class="product-description-review text-center">
            <div class="description-review-title nav" role="tablist">
                <a class="active" href="#pro-dec" data-bs-toggle="tab" role="tab" aria-selected="true"> Description </a>
                <a href="#pro-review" data-bs-toggle="tab" role="tab" aria-selected="false">
                    Reviews <%= reviews ? reviews.length : 0 %>
                </a>
            </div>
            <div class="description-review-text tab-content mt-5">
                <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                    <div class="product-specification">
                        <% const sections = product.description.split('\n\n'); %> <% sections.forEach((section, index) => {
                        %>
                        <div class="card mb-4">
                            <div
                                class="card-header text-white"
                                data-toggle="collapse"
                                data-target="#collapse<%- index %>"
                                aria-expanded="false"
                            >
                                <% const lines = section.split('\n'); %> <% const heading = lines[0]; %>
                                <h5 class="card-title"><%- heading %></h5>
                            </div>
                            <div id="collapse<%- index %>" class="collapse">
                                <div class="card-body text-start">
                                    <% for (let i = 1; i < lines.length; i++) { %> <% if (i === 1) { %>
                                    <div class="spec-line">
                                        <span class="spec-title"><%- lines[i] %></span>
                                    </div>
                                    <% } else { %>
                                    <p class="card-text"><%- lines[i] %></p>
                                    <% } %> <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>

                <div class="tab-pane fade" id="pro-review" role="tabpanel">
                    <% if (!reviews && reviews.length) { %>
                    <p class="text-dark">No reviews</p>
                    <% } else { %> <% reviews.forEach(review => { %>
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><%= review.rating %> Stars</h5>
                                <p class="card-text"><%= review.review %></p>
                                <p class="card-text">
                                    <small class="text-muted">Posted by <%= review.user.firstName %></small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %> <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product area start -->
<div class="product-area pb-95">
    <div class="container">
        <div class="section-title-3 text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="product-style">
            <div class="related-product-active owl-carousel">
                <% relatedProducts.forEach(item => { %>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="/product/<%= item._id %>">
                            <img src="<%= item.images[0].thumbnailUrl %>" alt="" />
                        </a>
                        <span>hot</span>
                        <div class="product-action">
                            <a class="animate-left" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <% if (item.quantity) { %>
                            <a class="animate-top" title="Add To Cart" href="/cart/add/<%= product._id %>">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#"><%= item.title %></a></h4>
                        <span>₹ <%= item.salePrice %></span>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!-- product area end -->
