<div class="product-details ptb-100 pb-90">
    <div class="container">
        <%- include('../../partials/flash-message.ejs') %>
        <div class="row">
            <!-- Images -->
            <div class="col-md-12 col-lg-7 col-12">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-35 product-details-tab2">
                        <div
                            class="product-details-small nav mr-10 product-details-2 overflow-scroll"
                            style="height: 650px"
                            role="tablist"
                        >
                            <% product.images.forEach(function(image, index) { %>
                            <a
                                class="<%= index === 0 ? 'active' : '' %> mb-10"
                                href="#pro-details<%= index + 1 %>"
                                data-bs-toggle="tab"
                                role="tab"
                                aria-selected="<%= index === 0 %>"
                            >
                                <img src="<%= image.thumbnailUrl %>" alt="" />
                            </a>
                            <% }); %>
                        </div>
                        <div class="product-details-large tab-content">
                            <% product.images.forEach(function(image, index) { %>
                            <div
                                class="tab-pane <%= index === 0 ? 'active show fade' : 'fade' %>"
                                id="pro-details<%= index + 1 %>"
                                role="tabpanel"
                            >
                                <div class="easyzoom easyzoom--overlay is-ready">
                                    <a href="<%= image.productImageUrl %>">
                                        <img
                                            src="<%= image.productImageUrl %>"
                                            class="img-fluid border border-dark"
                                            alt=""
                                        />
                                    </a>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images -->

            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content">
                    <h3><%= product.title %></h3>
                    <div class="rating-number">
                        <div class="quick-view-rating">
                            <div class="quick-view-rating d-flex justify-content-between">
                                <img src="/shop/img/icon-img/star.svg" style="height: 40px; width: 40px" alt="star" />
                                <span class="text-secondary"><%= `(${avgRating})` %></span>
                            </div>
                        </div>
                        <div class="quick-view-number">
                            <span><%= reviews.length %> Ratting (S)</span>
                        </div>
                    </div>
                    <div class="details-price">
                        <span>₹ <%= product.salePrice %></span>
                        <!-- <span>₹ <%= product.productPrice %> </span> -->
                    </div>
                    <% if (product.quantity === 0) { %>
                    <small class="text-danger h3">Out Of Stock!😓</small>
                    <% }else if (product.isDeleted) { %>
                    <small class="text-danger h3">Currently Not Available</small>
                    <% } else if (product.quantity < 5) { %>
                    <small class="text-warning h3">Hurry, Only <%= product.quantity %> more left!</small>
                    <% } else { %>
                    <small class="text-success h3">In Stock</small>
                    <% } %>
                    <div class="product-details-delivery-tag mt-35">
                        <i class="ti ti-truck"></i> <span> FREE RETURNS + FREE SHIPPING</span>
                    </div>
                    <div class="product-details-color-tag mt-2">
                        <i class="ti ti-paint-bucket"></i> <span> Color: <%= product.color ?? "N/A" %></span>
                    </div>
                    <div class="product-details-material-tag mt-2">
                        <i class="ti ti-shopping-cart-full"></i> <span> Material: <%= product.material ?? "N/A" %></span>
                    </div>
                    <div class="product-details-art-tag mt-2">
                        <i class="ti ti-palette"></i> <span> Art Form: <%= product.artForm ?? "N/A" %></span>
                    </div>
                    <div class="product-details-origin-tag mt-2">
                        <i class="ti ti-check-box"></i> <span> Made in India</span>
                    </div>
                    <div class="product-share mt-5">
                        <ul>
                            <li class="categories-title">Share :</li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont icofont-social-flikr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="quickview-plus-minus">
                        <div class="quickview-btn-cart">
                            <% if (product.quantity === 0) { %>
                            <a class="btn btn-secondary h-auto" onclick="alert('You will be notfied!')">notify me</a>
                            <% }else if (product.isDeleted) { %>
                            <a class="btn btn-secondary h-auto" onclick="alert('You will be notfied!')">notify me</a>
                            <% } else { %>
                            <a class="btn-hover-black" onclick="addToCart(`<%= product._id %>`)">add to cart</a>
                            <% } %>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <% if (user?.wishlist?.includes(product._id)) { %>
                            <a class="btn-hover" onclick="addToWishlist(`<%= product._id %>`)">
                                <i class="pe-7s-like text-danger"></i>
                            </a>
                            <% } else { %>
                            <a class="btn-hover">
                                <i class="pe-7s-like"></i>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-description-review-area pb-90">
    <div class="container">
        <div class="product-description-review text-center">
            <div class="description-review-title nav" role="tablist">
                <a class="active" href="#pro-dec" data-bs-toggle="tab" role="tab" aria-selected="true"> Description </a>
                <a href="#pro-review" data-bs-toggle="tab" role="tab" aria-selected="false">
                    Reviews <%= reviews ? reviews.length : 0 %>
                </a>
            </div>
            <div class="description-review-text tab-content mt-5">
                <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                    <div class="product-specification">
                        <% const sections = product.description.split('\n\n'); %> <% sections.forEach((section, index) => {
                        %>
                        <div class="card mb-4">
                            <div
                                class="card-header text-white"
                                data-toggle="collapse"
                                data-target="#collapse<%- index %>"
                                aria-expanded="false"
                            >
                                <% const lines = section.split('\n'); %> <% const heading = lines[0]; %>
                                <h5 class="card-title"><%- heading %></h5>
                            </div>
                            <div id="collapse<%- index %>" class="collapse">
                                <div class="card-body text-start">
                                    <% for (let i = 1; i < lines.length; i++) { %> <% if (i === 1) { %>
                                    <div class="spec-line">
                                        <span class="spec-title"><%- lines[i] %></span>
                                    </div>
                                    <% } else { %>
                                    <p class="card-text"><%- lines[i] %></p>
                                    <% } %> <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>

                <div class="tab-pane fade" id="pro-review" role="tabpanel">
                    <% if (!reviews && reviews.length) { %>
                    <p class="text-dark">No reviews</p>
                    <% } else { %>
                    <div class="testimonials-area bg-img" style="background-image: url(shop/img/bg/7.jpg)">
                        <div class="container">
                            <div class="testimonials-active owl-carousel">
                                <% reviews.forEach(review => { %>
                                <div class="single-testimonial-2 text-center">
                                    <img style="width: 100px; height: 100px;" class="rounded-circle" src="<%=
                                    review.user.image || "/shop/img/team/user.png" %>" alt="user" />
                                    <p><%= review.review %></p>
                                    <h4>Posted By <%= review.user.firstName %></h4>
                                    <span><%= review.rating %> Stars </span>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product area start -->
<div class="product-area pb-95">
    <div class="container">
        <div class="section-title-3 text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="product-style">
            <div class="related-product-active owl-carousel">
                <% relatedProducts.forEach(item => { %>
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="/product/<%= item._id %>">
                            <img src="<%= item.images[0].thumbnailUrl %>" alt="" />
                        </a>
                        <span>hot</span>
                        <div class="product-action">
                            <a class="animate-left" onclick="addToWishlist(`<%= product._id %>`)" title="Wishlist" href="#">
                                <i class="pe-7s-like"></i>
                            </a>
                            <% if (item.quantity) { %>
                            <a class="animate-top" title="Add To Cart" onclick="addToCart(`<%= product._id %>`)">
                                <i class="pe-7s-cart"></i>
                            </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="#"><%= item.title %></a></h4>
                        <span>₹ <%= item.salePrice %></span>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<!-- product area end -->

<script>
    function addToWishlist(id) {
        const productId = id;
        const url = `/wishlist/add/${productId}`;
        const cartCount = document.getElementById("cartCount");
        const cartMessage = document.getElementById("cart-message");

        fetch(url, {
            method: "GET",
        })
            .then((response) => {
                if (response.ok) {
                    return response.json(); // Assuming server sends JSON
                } else {
                    console.error("Failed");
                }
            })
            .then((data) => {
                if (data) {
                    if (data.message) {
                        cartMessage.innerHTML = data.message;

                        cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                        cartMessage.style.display = "block";

                        setTimeout(function () {
                            cartMessage.style.display = "none";
                        }, 3000);
                    } else {
                        console.error("Unexpected data format");
                    }
                }
            })
            .catch((error) => {
                console.error("An error occurred:", error);
            });
    }
</script>
