<div class="shop-page-wrapper shop-page-padding ptb-100">
    <div class="container-fluid">
        <div class="row gy-5">
            <!-- Sidebar -->
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="shop-sidebar mr-50">
                    <!-- Search Products Widget -->
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="/shop" method="get">
                                <input
                                    id="search"
                                    name="search"
                                    placeholder="Search Products..."
                                    type="text"
                                    value="<%= search %>"
                                />
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                <% categories.forEach(element => { %>
                                <li>
                                    <a
                                        href="/shop?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= element.title %>"
                                        ><%= element.title %>
                                    </a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper res-xl res-xl-btn">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                            <!-- Product Count and Sort By -->
                            <div class="shop-found-selector">
                                <div class="shop-selector">
                                    <label>Sort By:</label>
                                    <select
                                        id="sortBySelect"
                                        name="sortBy"
                                        data-current-page="<%= currentPage %>"
                                        data-category="<%= category %>"
                                    >
                                        <option <%= sortBy === "default" ? "selected" : "" %> value="default">Default</option>
                                        <option <%= sortBy === "az" ? "selected" : "" %> value="az">A to Z</option>
                                        <option <%= sortBy === "za" ? "selected" : "" %> value="za">Z to A</option>
                                        <option <%= sortBy === "price-asc" ? "selected" : "" %> value="priceasc">Price: Low to High</option>
                                        <option <%= sortBy === "price-desc" ? "selected" : "" %> value="pricedesc">Price: High to Low</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Grid/List Toggle -->
                            <div class="shop-filter-tab">
                                <div class="shop-tab nav" role="tablist">
                                    <a
                                        class="active"
                                        href="#grid-sidebar1"
                                        data-bs-toggle="tab"
                                        role="tab"
                                        aria-selected="false"
                                    >
                                        <i class="ti-layout-grid4-alt"></i>
                                    </a>
                                    <a href="#grid-sidebar2" data-bs-toggle="tab" role="tab" aria-selected="true">
                                        <i class="ti-menu"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Grid -->
                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar1" class="tab-pane fade active show">
                                <div class="row">
                                    <!-- Product Loop -->
                                    <% products.forEach(product => { %>
                                    <div class="col-lg-6 col-md-6 col-xl-3">
                                        <div class="product-wrapper mb-30">
                                            <!-- Product Image and Actions -->
                                            <div class="product-img">
                                                <a href="/product/<%= product._id %>">
                                                    <img
                                                        src="<%= product.images[0].productImageUrl %>"
                                                        alt="<%= product.title %>"
                                                    />
                                                </a>
                                                <span>hot</span>
                                                <div class="product-action">
                                                    <a
                                                        class="animate-left"
                                                        title="Wishlist"
                                                        href="/wishlist/add/<%= user?.id %>"
                                                    >
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a
                                                        class="animate-top"
                                                        title="Add To Cart"
                                                        href="/cart/add/<%= user?.id %>"
                                                    >
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- Product Details -->
                                            <div class="product-content">
                                                <h4><a href="#"><%= product.title %></a></h4>
                                                <span>₹ <%= product.salePrice %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                    <!-- End Product Loop -->
                                </div>
                            </div>

                            <div id="grid-sidebar2" class="tab-pane fade">
                                <div class="row">
                                    <% products.forEach(product => { %>
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                            <div class="product-img list-img-width">
                                                <a href="/product/<%= product._id %>">
                                                    <img
                                                        src="<%= product.images[0].productImageUrl %>"
                                                        alt="<%= product.title %>"
                                                    />
                                                </a>
                                                <span>hot</span>
                                            </div>
                                            <div class="product-content-list">
                                                <div class="product-list-info">
                                                    <h4><a href="/product/<%= product._id %>"><%= product.title%></a></h4>
                                                    <span>₹ <%= product.salePrice %></span>
                                                    <p><%= product.description %></p>
                                                </div>
                                                <div class="product-list-cart-wishlist">
                                                    <div class="product-list-cart">
                                                        <a class="btn-hover list-btn-style" href="#">add to cart</a>
                                                    </div>
                                                    <div class="product-list-wishlist">
                                                        <a class="btn-hover list-btn-wishlist" href="#">
                                                            <i class="pe-7s-like"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="pagination-style mt-30 text-center">
                            <ul>
                                <% if (currentPage > 1) { %>
                                <li>
                                    <a
                                        href="/shop?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= category %>"
                                    >
                                        <i class="ti ti-arrow-left"></i>
                                        <!-- Font Awesome icon for "Previous" -->
                                    </a>
                                </li>
                                <% } %> <% for (let i = 1; i <= Math.ceil(totalProductsCount / itemsPerPage); i++) { %>
                                <li class="<%= currentPage === i ? 'active' : '' %>">
                                    <a href="/shop?page=<%= i %>&search=<%= search %>&category=<%= category %>"><%= i %></a>
                                </li>
                                <% } %> <% if (currentPage < Math.ceil(totalProductsCount / itemsPerPage)) { %>
                                <li>
                                    <a
                                        href="/shop?page=<%= currentPage + 1 %>&search=<%= search %>&category=<%= category %>"
                                    >
                                        <i class="ti ti-arrow-right"></i>
                                        <!-- Font Awesome icon for "Next" -->
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const sortBySelect = document.getElementById("sortBySelect");
    const currentPage = sortBySelect.getAttribute("data-current-page");
    const category = sortBySelect.getAttribute("data-category");
    const search = document.getElementById("search").value;

    sortBySelect.addEventListener("change", function () {
        const selectedValue = this.value;

        // Define a mapping of sort options to URLs
        const sortOptionsToUrls = {
            default: "/shop/",
            az: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=az`,
            za: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=za`,
            priceasc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-asc`,
            pricedesc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-desc`,
        };

        // Get the corresponding URL for the selected sorting option
        const url = sortOptionsToUrls[selectedValue];

        if (url) {
            // Redirect to the selected URL
            window.location.href = url;
        }
    });
</script>
