<div class="shop-page-wrapper shop-page-padding ptb-100">
    <div class="container-fluid">
        <div class="row gy-5">
            <!-- Sidebar -->
            <div class="col-lg-3 order-2 order-lg-1">
                <% include('../../partials/flash-message.ejs') %>
                <div class="shop-sidebar mr-50">
                    <!-- Search Products Widget -->
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form action="/shop" method="get">
                                <input
                                    id="search"
                                    name="search"
                                    placeholder="Search Products..."
                                    type="text"
                                    value="<%= search %>"
                                    oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');"
                                />
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul class="list-unstyled">
                                <% categories.forEach((element) => { %>
                                <li class="d-flex justify-content-between">
                                    <a
                                        class="<%= selectedCategories.includes(element.title.split(" ").join("-")) ? 'text-dark' : '' %>"
                                        href="/shop?page=<%= 0 %>&search=<%= search %>&category=<%= selectedCategories.concat([element.title.replace(/\s+/g, '-')]).join('+') %>"
                                        onclick="updateSelectedCategories(this)"
                                    >
                                        <%= element.title %>
                                    </a>

                                    <a
                                        href="/shop?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= selectedCategories.concat([element.title.replace(/\s+/g, '-')]).join('+') %>"
                                        class="<%= selectedCategories.includes(element.title) ? 'd-block' : 'd-none' %>"
                                    >
                                        <i class="ti ti-close text-danger"></i>
                                    </a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <!-- Categories -->
                </div>
            </div>
            <!-- Products -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper res-xl res-xl-btn">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                            <!-- Product Count and Sort By -->
                            <div class="shop-found-selector">
                                <div class="shop-selector">
                                    <label>Sort By:</label>
                                    <select
                                        id="sortBySelect"
                                        name="sortBy"
                                        data-current-page="<%= currentPage %>"
                                        data-category="<%= selectedCategories %>"
                                        style="width: 200px; height: 30px"
                                    >
                                        <option <%= sortBy === "default" ? "selected" : "" %> value="default">Default</option>
                                        <option <%= sortBy === "az" ? "selected" : "" %> value="az">A to Z</option>
                                        <option <%= sortBy === "za" ? "selected" : "" %> value="za">Z to A</option>
                                        <option <%= sortBy === "price-asc" ? "selected" : "" %> value="priceasc">Price: Low to High</option>
                                        <option <%= sortBy === "price-desc" ? "selected" : "" %> value="pricedesc">Price: High to Low</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Grid/List Toggle -->
                            <div class="shop-filter-tab">
                                <div class="shop-tab nav" role="tablist">
                                    <a
                                        class="active"
                                        href="#grid-sidebar1"
                                        data-bs-toggle="tab"
                                        role="tab"
                                        aria-selected="false"
                                    >
                                        <i class="ti-layout-grid4-alt"></i>
                                    </a>
                                    <a href="#grid-sidebar2" data-bs-toggle="tab" role="tab" aria-selected="true">
                                        <i class="ti-menu"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Grid -->
                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar1" class="tab-pane fade active show">
                                <div class="row">
                                    <% if (products.length === 0) { %>
                                    <div class="col-md-12">
                                        <p>Oops, no products found.</p>
                                    </div>
                                    <% } else { %> <% products.forEach(product => { %>
                                    <div class="col-lg-6 col-md-6 col-xl-3">
                                        <div class="product-wrapper mb-30">
                                            <!-- Product Image and Actions -->
                                            <div class="product-img">
                                                <a href="/product/<%= product._id %>">
                                                    <img
                                                        src="<%= product.images[0].thumbnailUrl %>"
                                                        alt="<%= product.title %>"
                                                    />
                                                </a>
                                                <span class="bg-danger">hot</span>
                                                <div class="product-action">
                                                    <a
                                                        id="wishlistButton"
                                                        class="animate-left"
                                                        title="Wishlist"
                                                        onclick="toggleWishlist('<%= product._id %>')"
                                                    >
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <% if (product.quantity) { %>
                                                    <a
                                                        class="animate-top"
                                                        title="Add To Cart"
                                                        onclick="addToCart('<%= product._id %>')"
                                                    >
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <!-- Product Details -->
                                            <div class="product-content">
                                                <div class="d-flex justify-content-between">
                                                    <small
                                                        class="card-title"
                                                        style="
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                        "
                                                    >
                                                        <%= product.title %>
                                                    </small>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <% if (product.salePrice !== product.productPrice) { %>
                                                            <div class="">
                                                                <span class="text-decoration-line-through text-secondary">₹ <%= product.productPrice %></span>
                                                                <span class="text-success" ><%= product.category.offer %>% Off</span>
                                                            </div>
                                                    <% } %>
                                                    <span class="card-text h4">₹ <%= product.salePrice %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                    <!-- End Product Loop -->
                                    <% } %>
                                    <!-- Product Loop -->
                                </div>
                            </div>

                            <div id="grid-sidebar2" class="tab-pane fade">
                                <div class="row">
                                    <% if (products.length === 0) { %>
                                    <div class="col-md-12">
                                        <p>Oops, no products found.</p>
                                    </div>
                                    <% } else { %> <% products.forEach(product => { %>
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                            <div class="product-img list-img-width">
                                                <a href="/product/<%= product._id %>">
                                                    <img
                                                        src="<%= product.images[0].thumbnailUrl %>"
                                                        alt="<%= product.title %>"
                                                    />
                                                </a>
                                                <span class="bg-danger">hot</span>
                                            </div>
                                            <div class="product-content-list">
                                                <div class="product-list-info">
                                                    <h4><a href="/product/<%= product._id %>"><%= product.title%></a></h4>
                                                    <div class="d-flex justify-content-between">
                                                        <% if (product.salePrice !== product.productPrice) { %>
                                                            <div class="">
                                                                <span class="text-decoration-line-through text-secondary">₹ <%= product.productPrice %></span>
                                                                <span class="text-success" ><%= product.category.offer %>% Off</span>
                                                            </div>
                                                        <% } %>
                                                        <span class="card-text h4">₹ <%= product.salePrice %></span>
                                                    </div>
                                                </div>
                                                <div class="product-list-cart-wishlist">
                                                    <div class="product-list-cart">
                                                        <a class="btn-hover list-btn-style" onclick="addToCart('<%= product._id %>')">add to cart</a>
                                                    </div>
                                                    <div class="product-list-wishlist">
                                                        <a id="wishlistButton" class="btn-hover list-btn-wishlist" onclick="toggleWishlist('<%= product._id %>')"><i class="pe-7s-like"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %> <% } %>
                                </div>
                            </div>
                        </div>

                        <% if (totalProductsCount > 8) { %>
                        <!-- Pagination -->
                        <div class="pagination-style mt-30 text-center">
                            <ul>
                                <% if (currentPage > 1) { %>
                                <li>
                                    <a
                                        href="/shop?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= selectedCategories.join('+') %>"
                                    >
                                        <i class="ti ti-arrow-left"></i>
                                    </a>
                                </li>
                                <% } %> <% for (let i = 1; i <= Math.ceil(totalProductsCount / itemsPerPage); i++) { %> <%
                                if (i === 1 || i === currentPage - 1 || i === currentPage || i === currentPage + 1 || i ===
                                Math.ceil(totalProductsCount / itemsPerPage)) { %>
                                <li class="<%= currentPage === i ? 'active' : '' %>">
                                    <a href="/shop?page=<%= i %>&search=<%= search %>&category=<%= selectedCategories.join('+') %>"
                                        ><%= i %></a
                                    >
                                </li>
                                <% } else if (i === 2 || i === currentPage - 2 || i === currentPage + 2) { %>
                                <li>...</li>
                                <% } %> <% } %> <% if (currentPage < Math.ceil(totalProductsCount / itemsPerPage)) { %>
                                <li>
                                    <a
                                        href="/shop?page=<%= currentPage + 1 %>&search=<%= search %>&category=<%= selectedCategories.join('+') %>"
                                    >
                                        <i class="ti ti-arrow-right"></i>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <!-- Pagination End -->
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function buildURL(selectedCategories, currentPage, search, sortBy) {
        const categoryParam = Object.keys(selectedCategories).map(category => selectedCategories[category] ? category : null).filter(Boolean).join('+');
        return `/shop?page=${currentPage}&search=${search}&category=${categoryParam}&sortBy=${sortBy}`;
    }

    const sortBySelect = document.getElementById("sortBySelect");
    const currentPage = sortBySelect.getAttribute("data-current-page");
    const category = sortBySelect.getAttribute("data-category");
    const search = document.getElementById("search").value;

    sortBySelect.addEventListener("change", function () {
        const selectedValue = this.value;
        const urlParams = new URLSearchParams(window.location.search);
        const selectedCategories = urlParams.get("category") || {};

        console.log({ selectedCategories });

        // Define a mapping of sort options to URLs
        const sortOptionsToUrls = {
            default: "/shop/",
            az: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=az`,
            za: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=za`,
            priceasc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-asc`,
            pricedesc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-desc`,
        };

        // Get the corresponding URL for the selected sorting option
        const url = sortOptionsToUrls[selectedValue];

        if (url) {
            // Redirect to the selected URL
            window.location.href = url;
        }
    });

    function updateSelectedCategories(element) {
        const title = element.textContent;
        const urlParams = new URLSearchParams(window.location.search);
        let selectedCategories = urlParams.get("category") || {};

        // Toggle category selection
        selectedCategories[title] = !selectedCategories[title];

        const currentPage = urlParams.get("page") || 1;
        const search = urlParams.get("search") || "";
        const sortBy = urlParams.get("sortBy") || "default";

        const newUrl = buildURL(selectedCategories, currentPage, search, sortBy);
        window.location.href = newUrl;
    }
</script>

