<!-- Slider -->
<div class="container">
    <div class="row align-content-center">
        <div class="col-md-12"><%- include('../partials/flash-message.ejs') %></div>
    </div>
</div>

<div class="slider-area">
    <div class="slider-active owl-carousel">
        <% if (banners.length) { %> <% banners.forEach(banner => { %>
        <div class="single-slider-4 slider-height-5 bg-img" style="background-image: url(<%= banner.image_url %>)">
            <div class="container">
                <div class="slider-content-5 fadeinup-animated">
                    <h2 class="animated text-white"><%= banner.title %></h2>
                    <p class="animated text-white"><%= banner.description %></p>
                    <a
                        class="btn btn-lg btn-dark text-white rounded-pill h-auto px-4 fw-bolder py-3 animated"
                        href="<%= banner.link %>"
                        >Shop Now</a
                    >
                </div>
            </div>
        </div>
        <% }) %> <% } else { %>
        <div class="single-slider-4 slider-height-5 bg-img" style="background-image: url(shop/img/slider/7.jpg)">
            <div class="container">
                <div class="slider-content-5 fadeinup-animated">
                    <h2 class="animated">The Best Handicraft <br />Product</h2>
                    <p class="animated">
                        Art is not a handicraft, it is the transmission of feeling the artist has experienced.
                    </p>
                    <a class="handicraft-slider-btn btn-hover animated" href="/product">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="single-slider-4 slider-height-5 bg-img" style="background-image: url(shop/img/slider/8.jpg)">
            <div class="container">
                <div class="slider-content-5 fadeinup-animated">
                    <h2 class="animated">The Best Handicraft <br />Product</h2>
                    <p class="animated">
                        Art is not a handicraft, it is the transmission of feeling the artist has experienced.
                    </p>
                    <a class="handicraft-slider-btn btn-hover animated" href="/product">Shop Now</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<!-- Slider End -->

<!-- banner area start -->
<div class="banner-area pt-180 pb-180">
    <div class="container">
        <div class="row">
            <div class="ms-auto col-lg-5">
                <div class="offer-img">
                    <img src="shop/img/banner/3.png" alt="" />
                    <div class="offer-text">
                        <h3>Discount Product for Summer</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="offer-details-wrapper">
                    <h2>New Arrival Handmade Pot</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam.
                    </p>
                    <div class="offer-price-btn">
                        <div class="offer-price">
                            <span class="offer-old-price">₹ 69.10</span>
                            <span class="offer-new-price">₹ 59.00</span>
                        </div>
                        <div class="offer-btn">
                            <a href="/product">Shop Now →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner area end -->

<!-- product area start -->
<div class="product-area pt-115 pb-120">
    <div class="pl-100 pr-100">
        <div class="container-fluid">
            <div class="section-title text-center mb-60">
                <h2>New Arrivals</h2>
            </div>
            <div class="product-style">
                <div class="arrival-active owl-carousel">
                    <% products.forEach(product => { %>
                    <div class="product-wrapper card mb-4" style="width: 250px">
                        <div class="product-img position-relative">
                            <a href="/product/<%= product._id %>">
                                <img
                                    src="<%= product.images[0].thumbnailUrl %>"
                                    alt="<%= product.title %>"
                                    class="card-img-top"
                                />
                            </a>
                            <span class="new bg-danger">New</span>
                            <div class="product-action position-absolute start-0 bottom-0">
                                <a
                                    id="wishlistButton"
                                    class="animate-left"
                                    title="Wishlist"
                                    onclick="toggleWishlist(`<%= product._id %>`)"
                                >
                                    <i class="pe-7s-like"></i>
                                </a>
                                <% if (product.quantity) { %>
                                <a class="animate-top" title="Add To Cart" onclick="addToCart(`<%= product._id %>`)">
                                    <i class="pe-7s-cart"></i>
                                </a>
                                <% } %>
                            </div>
                        </div>
                        <div class="product-content card-body" style="height: 100px">
                            <!-- Adjust the height as needed -->
                            <div class="d-flex justify-content-between">
                                <small
                                    class="card-title"
                                    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
                                >
                                    <%= product.title %>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between">
                                <% if (product.salePrice !== product.productPrice) { %>
                                <div class="">
                                    <span class="text-decoration-line-through text-secondary"
                                        >₹ <%= product.productPrice %></span
                                    >
                                    <span class="text-success"><%= product.category.offer %>% Off</span>
                                </div>
                                <% } %>
                                <span class="card-text h4">₹ <%= product.salePrice %></span>
                            </div>
                        </div>
                    </div>

                    <% }) %>
                </div>
            </div>
        </div>

        <!-- Popular Products -->

        <div class="container-fluid mt-5">
            <div class="section-title text-center mb-60">
                <h2>Popular Products</h2>
            </div>
            <div class="product-style">
                <div class="arrival-active owl-carousel">
                    <% PopularProducts.forEach(product => { %>
                    <div class="product-wrapper card mb-4" style="width: 250px">
                        <div class="product-img position-relative">
                            <a href="/product/<%= product._id %>">
                                <img
                                    src="<%= product.images[0].thumbnailUrl %>"
                                    alt="<%= product.title %>"
                                    class="card-img-top"
                                />
                            </a>
                            <span class="new bg-danger">Hot</span>
                            <div class="product-action position-absolute start-0 bottom-0">
                                <a
                                    class="animate-left"
                                    title="Wishlist"
                                    id="wishlistButton"
                                    onclick="toggleWishlist(`<%= product._id %>`)"
                                >
                                    <i class="pe-7s-like"></i>
                                </a>
                                <% if (product.quantity) { %>
                                <a class="animate-top" title="Add To Cart" onclick="addToCart(`<%= product._id %>`)">
                                    <i class="pe-7s-cart"></i>
                                </a>
                                <% } %>
                            </div>
                        </div>
                        <div class="product-content card-body" style="height: 100px">
                            <!-- Adjust the height as needed -->
                            <div class="d-flex justify-content-between">
                                <small
                                    class="card-title"
                                    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
                                >
                                    <%= product.title %>
                                </small>
                            </div>
                            <div class="d-flex justify-content-between">
                                <% if (product.salePrice !== product.productPrice) { %>
                                <div class="">
                                    <span class="text-decoration-line-through text-secondary"
                                        >₹ <%= product.productPrice %></span
                                    >
                                    <span class="text-success"><%= product.category.offer %>% Off</span>
                                </div>
                                <% } %>
                                <span class="card-text h4">₹ <%= product.salePrice %></span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <!-- Popular Products -->
    </div>
</div>
<!-- product area end -->

<div class="banner-area wrapper-padding gray-bg-7 pt-60">
    <div class="container-fluid">
        <div class="section-title text-center mb-60">
            <h2>Shop By Category</h2>
        </div>
        <div class="row">
            <% categoryOffers.forEach(category => { %>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#">
                        <a href="/shop?page=0&search=&category=<%= category.title.split(" ").join("-") %> %>">
                            <img src="<%= category.image %>" alt=""
                        /></a>
                        <div class="banner-content4-style1 txt-content">
                            <h4>
                                <span class="text-success"><%= category.offer %>% Off</span>
                                <small class="text-dark"><%= category.offerDescription %></small>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
