<div class="row">
    <%- include('../../partials/flash-message.ejs') %>
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Products</h5>
                <% if (products.length) { %>
                <div class="table-responsive">
                    <table id="productTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Sales Price</th>
                                <th>Product Price</th>
                                <th>Quantity</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <% if (product.title.length > 10) { %> <%= product.title.substring(0, 10) + "..." %> <%
                                    } else { %> <%= product.title %> <% } %>
                                </td>
                                <td><%= product?.category?.title %></td>
                                <td>
                                    <% if (product.description.length > 10) { %> <%= product.description.substring(0, 10) +
                                    '...' %> <% } else { %> <%= product.description %> <% } %>
                                </td>
                                <td>₹ <%= product.salePrice %></td>
                                <td>₹ <%= product.productPrice %></td>
                                <td><%= product.quantity %></td>
                                <td>
                                    <img
                                        src="<%= product?.images[0]?.thumbnailUrl %>"
                                        alt="<%= product.title %>"
                                        width="50"
                                    />
                                </td>
                                <td>
                                    <div
                                        class="btn-group d-flex gap-2 align-items-center"
                                        role="group"
                                        aria-label="Product Actions"
                                    >
                                        <a href="/admin/products/edit/<%= product._id %>" class="btn btn-primary btn-sm">
                                            <i class="ti ti-pencil"></i>
                                        </a>
                                        <% if (product.isListed) { %>
                                        <form method="post" action="/admin/products/unlist/<%= product._id %>?_method=PUT">
                                            <button type="submit" class="btn btn-sm btn-success">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                        <form method="post" action="/admin/products/list/<%= product._id %>?_method=PUT">
                                            <button type="submit" class="btn btn-sm btn-warning">
                                                <i class="fas fa-times text-white"></i>
                                            </button>
                                        </form>
                                        <% } %>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-danger delete-product-btn"
                                            data-product-id="<%= product._id %>"
                                        >
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } else { %> No Products <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#productTable").DataTable();
    });
</script>

<!-- Make sure Bootstrap CSS and JavaScript are included -->

<div
    class="modal fade"
    id="deleteProductModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteProductModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProductModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="deleteProductModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this product?</p>
                <p>
                    This will delete the product from the listing but it won't be deleted from the database, and already
                    purchased users can see this product on their orders.
                </p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" id="cancelButton" data-dismiss="modal">Cancel</button> -->
                <form action="/admin/products/delete/{{ PRODUCT_ID }}?_method=DELETE" method="post" id="deleteProductForm">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Find all delete buttons and attach click event listeners
        const deleteButtons = document.querySelectorAll(".delete-product-btn");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const productId = button.getAttribute("data-product-id");
                const deleteForm = document.querySelector("#deleteProductForm");
                const action = `/admin/products/delete/${productId}?_method=PUT`;
                deleteForm.setAttribute("action", action);
                // Set the form method to "POST"
                deleteForm.setAttribute("method", "POST");

                // Show the modal
                const modal = new bootstrap.Modal(document.querySelector("#deleteProductModal"));
                modal.show();
            });
        });
    });
</script>
