<div class="row">
    <%- include('../../partials/flash-message.ejs') %>
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Products</h5>
                <% if (products.length) { %>
                <div class="table-responsive">
                    <table id="productTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Sales Price</th>
                                <th>Product Price</th>
                                <th>Quantity</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= product.title %></td>
                                <td><%= product.category %></td>
                                <td>
                                    <% if (product.description.length > 10) { %> <%= product.description.substring(0, 10) +
                                    '...' %> <% } else { %> <%= product.description %> <% } %>
                                </td>
                                <td>$<%= product.salePrice %></td>
                                <td>$<%= product.productPrice %></td>
                                <td><%= product.quantity %></td>
                                <td><img src="<%= product.images %>" alt="<%= product.title %>" width="50" /></td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Product Actions">
                                        <a
                                            href="/admin/products/edit/<%= product._id %>"
                                            class="btn btn-primary btn-sm"
                                            style="margin-right: 10px"
                                        >
                                            <i class="ti ti-pencil"></i>
                                        </a>
                                        <% if (product.isListed) { %>
                                        <form method="post" action="/admin/products/unlist/<%= product._id %>?_method=PUT">
                                            <button type="submit" class="btn btn-sm btn-success">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                        <form method="post" action="/admin/products/list/<%= product._id %>?_method=PUT">
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </form>
                                        <% } %>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } else { %> No Products <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#productTable").DataTable();
    });
</script>
