<div class="row">
    <div class="col d-flex">
        <form action="/admin/orders/search" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for orders..." name="search" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('../../partials/flash-message.ejs') %>

<div class="row">
    <div class="col-md-3 mb-3">
        <div class="card text-white">
            <div class="card-body">
                <h5 class="card-title">Total Sales</h5>
                <p class="card-text text-dark">
                    Total Sales Amount: <br />
                    <span class="text-success h3">₹ <%= totalSalesAmount %></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card text-white">
            <div class="card-body">
                <h5 class="card-title">Total Products Sold</h5>
                <p class="card-text text-dark">
                    Sold Count: <br />
                    <span class="text-primary h3"><%= totalSoldProducts %></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card text-white">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text text-dark">
                    Users Count: <br />
                    <span class="text-primary h3"><%= totalActiveUserCount %></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card text-dark">
            <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <p class="card-text text-dark">
                    Total Orders Count: <br />
                    <span class="text-success h3"><%= totalOrderCount %></span>
                </p>
            </div>
        </div>
    </div>
</div>

<!--  Row 1 -->
<div class="row">
    <div class="col-lg-8 d-flex align-items-strech">
        <div class="card w-100">
            <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                        <h5 class="card-title fw-semibold">Sales Overview</h5>
                    </div>
                    <div>
                        <select class="form-select">
                            <option value="1">March 2023</option>
                            <option value="2">April 2023</option>
                            <option value="3">May 2023</option>
                            <option value="4">June 2023</option>
                        </select>
                    </div>
                </div>
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="mb-4 d-flex justify-content-between">
                    <h5 class="mb-0">Recent Sales</h5>
                    <a href="/admin/orders" class="">View All</a>
                </div>
                <div class="card-body">
                    <% recentOrders.forEach(order => { %>
                    <div class="media mb-3">
                        <img
                            src="<%= order.user.image || '/admin/images/profile/user-1.jpg' %>"
                            class="mr-3 rounded-circle"
                            alt="User Image"
                            style="width: 60px"
                        />
                        <div class="media-body">
                            <h5 class="mt-0"><%= order.user.firstName %></h5>
                            <small><%= moment(order.orderedDate).fromNow() %></small>
                        </div>
                        <p class="mb-0 text-success">₹ <%= order.totalPrice.toFixed(2) %></p>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
