<!-- checkout-area start -->
<div class="checkout-area ptb-100">
    <div class="container">
        <form action="/checkout/place-order" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="checkbox-form">
                        <div class="d-flex">
                            <h3>Select Address</h3>
                            <a href="/user/address/add" class="btn btn-sm btn-dark" title="Add New Address">Add</a>
                        </div>

                        <div class="different-address">
                            <div id="" class="row">
                                <% if (address && address.length) { %> <% address.forEach((item, index) => { %>
                                <div class="col-md-8 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="addressId"
                                                    id="address<%= index %>"
                                                    value="<%= item._id %>"
                                                    required
                                                />
                                                <label class="form-check-label" for="address<%= index %>">
                                                    <h5 class="card-title"><%= item.title %></h5>
                                                    <p class="card-text">
                                                        <%= item.street %>, <%= item.city %>, <%= item.state %>, <%=
                                                        item.pincode %>
                                                    </p>
                                                    <p class="card-text">Mobile: +91 <%= item.mobile %></p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %> <% } else { %> No Address Found
                                <a class="btn btn-dark h-auto" href="/user/address/add">Add Address</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% product.forEach(item => { %>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <% if (item.product.title.length > 36) { %>
                                            <small><%= item.product.title.substring(0, 36) + '...' %></small> <% } else { %>
                                            <small><%= item.product.title %></small> <% } %>
                                            <strong class="product-quantity"> × <%= item.quantity %></strong>
                                        </td>

                                        <td class="product-total">
                                            <span class="amount">₹ <%= item.product.salePrice * item.quantity %></span>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount">₹ <%= subtotal %></span></td>
                                    </tr>
                                    <tr class="cart-tax">
                                        <th>Tax and Other Charges</th>
                                        <td><span class="amount">₹ <%= tax %></span></td>
                                    </tr>
                                    <tr class="cart-shipping fee">
                                        <th>Shipping Fee</th>
                                        <td><span class="amount">₹ <%= shippingFee %></span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td>
                                            <strong><span class="amount">₹ <%= total %></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div class="payment-method">
                                    <label for="payment-method-select">Select Payment Method:</label>
                                    <select
                                        id="payment-method-select"
                                        required
                                        name="payment_method"
                                        class="form-select form-select-lg"
                                    >
                                        <option value="cash-on-delivery">Cash on Delivery</option>
                                        <option value="razorpay">Razorpay</option>
                                    </select>
                                </div>

                                <div class="order-button-payment">
                                    <input type="submit" value="Place order" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- checkout-area end -->
