<div class="checkout-area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Order Placed</h2>
                        <hr />

                        <!-- Display order details from the provided data -->
                        <p><strong>Order ID:</strong> <%= order.orderId %></p>
                        <p>
                            <strong>Shipping Address:</strong> <%= order.shippingAddress %>, <%= order.city %>, <%=
                            order.zip %>
                        </p>
                        <p><strong>Phone:</strong> <%= order.phone %></p>
                        <p><strong>Total Price:</strong> <%= order.totalPrice %></p>
                        <p><strong>Ordered Date:</strong> <%= new Date(order.orderedDate).toUTCString() %></p>

                        <h4 class="mt-4">Order Items</h4>
                        <% order.orderItems.forEach(product => { %>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Product Name: <%= product.product.title %>
                                <span class="badge badge-primary">Quantity: <%= product.quantity %></span>
                            </li>
                        </ul>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
