<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <h2 class="text-center">My Details</h2>
                            <form>
                                <div class="form-group text-center">
                                    <img src="<%= user?.image %>" id="user-avatar" class="img-fluid rounded-circle"
                                        alt="User Avatar" />
                                    <br />
                                    <button type="button" class="btn btn-dark mt-2" id="change-avatar">Change
                                        Image</button>
                                </div>
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input type="text" class="form-control" id="first-name"
                                        placeholder="Enter First Name" value="<%= user?.firstName %>" />
                                </div>
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Enter Last Name"
                                        value="<%= user?.lastName %>" />
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" placeholder="Enter City" />
                                </div>
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input type="text" class="form-control" id="state" placeholder="Enter State" />
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="Enter Address" />
                                </div>
                                <div class="form-group">
                                    <label for="pincode">Pincode</label>
                                    <input type="text" class="form-control" id="pincode" placeholder="Enter Pincode" />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Enter Password" />
                                </div>
                                <div class="form-group">
                                    <label for="mobile-number">Mobile Number</label>
                                    <input type="tel" class="form-control" id="mobile-number"
                                        placeholder="Enter Mobile Number"
                                        value="<%= user?.isMobileVerified ? user?.mobile : "" %>" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                        value="<%= user?.email %>" />
                                </div>
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Save Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->