<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                <div class="card shadow p-3">
                    <div class="row no-gutters">
                        <!-- Product Image -->
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <img
                                src="<%= order.product.images[0].productImageUrl %>"
                                class="card-img"
                                alt="Product Image"
                            />
                        </div>
                        <!-- Product Details -->
                        <div class="col-md-8">
                            <div class="card-body">
                                <!-- Product Name -->
                                <h5 class="card-title">
                                    <strong>Product Name:</strong>
                                    <%= order.product.title %>
                                </h5>
                                <!-- Ordered Date -->
                                <p class="card-text">
                                    <strong>Ordered Date:</strong>
                                    <%= new Date(orders.orderedDate).toUTCString() %>
                                </p>

                                <% if (order.status==="Shipped" ) { %>
                                <p class="card-text">
                                    <strong>Shipped On:</strong>
                                    <%= new Date(order.shippedDate).toUTCString() %>
                                </p>
                                <% } else if (order.status==="Delivered" ) { %>
                                <p class="card-text">
                                    <strong>Delivered On:</strong>
                                    <%= new Date(order.deliveredDate).toUTCString() %>
                                </p>
                                <% } %>

                                <!-- Ship To Name -->
                                <p class="card-text">
                                    <strong>Ship To Name:</strong>
                                    <%= orders.shippingAddress %>
                                </p>
                                <!-- Order Status -->
                                <p class="card-text">
                                    <strong>Order Status:</strong>
                                    <% if (order.status==='Pending' ) { %>
                                    <span class="text-warning"> <%= order.status %> </span>
                                    <% } else if (order.status==='Shipped' ) { %>
                                    <span class="text-primary"> <%= order.status %> </span>
                                    <% } else if (order.status==='Cancelled' || order.status==='Return Requested' ) { %>
                                    <span class="text-danger"> <%= order.status %> </span>
                                    <% } else if (order.status==='Delivered' ) { %>
                                    <span class="text-success"> <%= order.status %> </span>
                                    <% } else if (order.status==='Returned' ) { %>
                                    <span class="text-info"> <%= order.status %> </span>
                                    <% } %>
                                </p>
                                <!-- Product Price -->
                                <p class="card-text"><strong>Product Price:</strong> ₹<%= order.price %></p>
                                
                                <% if (order.isPaid === "paid") { %>
                                    <p class="card-text"><strong>Payment Status: </strong><span class="capitalize text-success"><%= order.isPaid %></span></p>
                                <% } else if (order.isPaid === "cod") { %>
                                    <p class="card-text"><strong>Payment Status: </strong><span class="capitalize text-warning"><%= order.isPaid %></span></p>
                                <% } else if (order.isPaid === "pending") {%>
                                    <p class="card-text"><strong>Payment Status: </strong><span class="capitalize text-danger"><%= order.isPaid %></span></p>
                                <% } %>
                                
                                <!-- Quantity -->
                                <p class="card-text">
                                    <strong>Quantity:</strong>
                                    <%= order.quantity %>
                                </p>

                                <% if (order.status==="Delivered" ) { const deliveryDate=new Date(order.deliveredDate);
                                const currentDate=new Date(); const daysDifference=(currentDate - deliveryDate) / (1000 * 60
                                * 60 * 24); if (daysDifference <=7) { %>
                                <button
                                    type="button"
                                    class="btn btn-danger h-auto"
                                    data-toggle="modal"
                                    data-target="#returnOrderModal"
                                >
                                    Return Order
                                </button>
                                <% } } else if (order.status==="Pending" || order.status==="Shipped" ) { %>
                                <button class="btn btn-danger h-auto" data-toggle="modal" data-target="#cancelOrderModal">
                                    Cancel Order
                                </button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% if (order.status==="Delivered" ) { %>
                    <hr class="border-2 border-secondary" />
                    <!-- Review Section -->
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Write a Review</h3>
                                <form action="/user/review/add/<%= order.product._id %>" method="post">
                                    <!-- Review Rating -->
                                    <div class="form-group">
                                        <label for="rating">Rating:</label>
                                        <select class="form-control" id="rating" name="rating">
                                                <option value="" disabled selected>Select a Rating</option>
                                                <option value="5" <% if (review?.rating==="5") { %>selected<% } %>>5 stars</option>
                                                <option value="4" <% if (review?.rating==="4") { %>selected<% } %>>4 stars</option>
                                                <option value="3" <% if (review?.rating==="3") { %>selected<% } %>>3 stars</option>
                                                <option value="2" <% if (review?.rating==="2") { %>selected<% } %>>2 stars</option>
                                                <option value="1" <% if (review?.rating==="1") { %>selected<% } %>>1 stars</option>
                                            </select>
                                    </div>
                                    <!-- Review Text -->
                                    <div class="form-group">
                                        <label for="reviewText">Review:</label>
                                        <textarea class="form-control" id="reviewText" name="review" rows="4">
<%= review?.review %></textarea
                                        >
                                    </div>
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary h-auto">
                                        <%= review.length ? "Update Review" : "Submit Review" %>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Review End -->
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->

<!-- Bootstrap Modal -->
<div
    class="modal fade"
    id="cancelOrderModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Cancellation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to cancel this order?</div>
            <div class="modal-footer">
                <form action="/orders/single/<%= order._id %>?_method=PUT" method="post">
                    <button type="submit" class="btn btn-danger h-auto" id="confirmCancelBtn">Confirm</button>
                </form>
                <button type="button" class="btn btn-secondary h-auto" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Return modal -->

<div
    class="modal fade"
    id="returnOrderModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="returnOrderModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <form action="/orders/return/<%= order._id %>" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="reason">Reason for Return</label>
                        <select class="form-control" id="reason" name="reason" required>
                            <option value="" disabled selected>Select a reason</option>
                            <option value="item_description_mismatch">Item doesn't match the description</option>
                            <option value="received_wrong_item">Received the wrong item</option>
                            <option value="item_damaged_or_defective">Item arrived damaged or defective</option>
                            <option value="changed_mind">Changed my mind</option>
                            <option value="didnt_meet_expectations">Item didn't meet my expectations</option>
                            <option value="no_longer_needed">Item is no longer needed</option>
                            <option value="item_arrived_late">Item arrived late</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary h-auto" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger h-auto">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
