<!-- shopping-cart-area start -->
<div class="cart-main-area pt-3 pt-md-4 pt-lg-5 pb-4 pb-md-5 pb-lg-6 wishlist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <% include('../../partials/flash-message.ejs') %>
                <h1 class="cart-heading">Wishlist</h1>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (populatedWishlist.length) { %> <% populatedWishlist.forEach(product => { %>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="/product/<%= product._id %>">
                                            <img class="img-thumbnail" src="<%= product.images[0].thumbnailUrl %>" alt="" />
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="/product/<%= product._id %>"><%= product.title %></a>
                                        <p class="text-danger"><%= product.isDeleted ? 'Currently Not Available' : ""%></p>
                                    </td>
                                    <td class="product-price-cart">
                                        <span class="amount">₹ <%= product.salePrice %></span>
                                    </td>
                                    <td class="product-remove">
                                        <a
                                            onclick="addToCart('<%= product._id %>')"
                                            class="btn btn-success btn-sm h-auto mb-2 mb-sm-0"
                                        >
                                            <i class="pe-7s-cart text-white fw-bolder"></i>
                                        </a>

                                        <a class="btn btn-danger btn-sm h-auto" href="/wishlist/remove/<%= product._id %>">
                                            <i class="pe-7s-close text-white fw-bolder"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %> <% } else { %>
                                <tr>
                                    <td colspan="4">No Items in Wishlist</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
