<div class="row">
    <%- include('../../partials/flash-message') %>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Admins</h5>
                    <% if (admins.length) { %>
                        <div class="table-responsive">
                            <table id="adminsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Role</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% admins.forEach((element, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= element.firstName %>
                                            </td>
                                            <td>
                                                <%= element.lastName %>
                                            </td>
                                            <td><a href="/admin/admins/view/<%= element._id %>">
                                                    <%= element.email %>
                                                </a></td>
                                            <td>
                                                <% if (element.isBlocked) { %> Blocked <% } else { %> Active <% } %>
                                            </td>
                                            <td>
                                                <form action="/admin/admins/update-role/<%= element._id %>?_method=PUT"
                                                    method="post">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <select class="form-control" name="role" id="role">
                                                                    <% Object.keys(roles).forEach(function(key) { %>
                                                                        <option <%=element.role===roles[key]
                                                                            ? "selected" : "" %> value="<%= roles[key]
                                                                                %>"><%= roles[key] %>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-primary">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <%= element?.isMobileVerified ? element?.mobile : "N/A" %>
                                            </td>
                                            <td>
                                                <% if (element.isBlocked) { %>
                                                    <form method="post"
                                                        action="/admin/admins/unblock/<%= element._id %>?_method=PUT">
                                                        <button type="submit" class="btn btn-success">Unblock</button>
                                                    </form>
                                                    <% } else { %>
                                                        <form method="post"
                                                            action="/admin/admins/block/<%= element._id %>?_method=PUT">
                                                            <button type="submit" class="btn btn-danger">Block</button>
                                                        </form>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            No Admins
                            <% } %>
                </div>
            </div>
        </div>
</div>

<script>
    $(document).ready(function () {
        $('#adminsTable').DataTable();
    });
</script>